$videoHeigth: 474px;
$videoWidth: 840px;
$videoHeigth-mobile: 200px;
$videoWidth-mobile: 350px;

.portfolio-page {
    padding: 30px 30px 0 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

    &__element {
        margin-bottom: 20px;
        flex: 0 0 calc(33.33% - 15px);

        @include for-mobile-portrait-only {    
            flex: 0 0 75%;
         }

        &__thumbnail {
            width: calc(100% - 15px);
            cursor: pointer;
        }

        &__title {
            margin-top: 5px;
            cursor: pointer;
        }
    }
    &__video {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.7);
        z-index: 10;

        &__frame {
            width: $videoWidth;
            height: $videoHeigth;

            @include for-mobile-only {    
                width: $videoWidth-mobile;
                height: $videoHeigth-mobile;
             }
            
        }

        &__modal {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: calc(50% - #{$videoHeigth/2});
            left: calc(50% - #{$videoWidth/2});
            z-index: 10;
            opacity: 1;

            @include for-mobile-only {    
                top: calc(50% - #{$videoHeigth-mobile/2});
                left: calc(50% - #{$videoWidth-mobile/2});
             }
        }

        &__close-button {
            width: auto;
            margin-bottom: 5px;
            align-self: flex-end;
            cursor: pointer;
            font-size: 20px;
            color: white;
        }
    }
}