@import 'variables';
@import '../components/header/style';
@import '../components/footer/style';
@import '../components/portfolio/style';

body {
  font-family: $primary-font-family;
  color: $primary-font-color;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

