$primary-font-color: rgba(192,192,192, 1);
$secondary-font-color: rgba(254, 126, 3, 1);
$primary-font-family: 'Myriad Pro';

$mobile-breakpoint-width: 599px;
$mobile-landscape-breakpoint-height: 600px;

@mixin for-mobile-portrait-only {
    @media (max-width: $mobile-breakpoint-width) { @content; }
}

@mixin for-mobile-landscape-only {
    @media (max-height: $mobile-landscape-breakpoint-height) { @content; }
}

@mixin for-mobile-only {
    @media (max-height: $mobile-landscape-breakpoint-height), (max-width: $mobile-breakpoint-width) { @content; }
}